/* VARIÁVEIS */
:root {
    --vermelho: #e63946ff;
    --amarelo: #ffbc42ff;
    --gelo: #f7f7ffff;
    --azul: #004e89ff;
    --preto: #040403ff;
}

/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

/* CORES PADRÃO PARA TEXTO */
.texto-branco {
    color: var(--gelo);
}

.texto-preto {
    color: var(--preto);
}

.texto-vermelho {
    color: var(--vermelho);
}

.texto-amarelo {
    color: var(--amarelo);
}

.texto-azul {
    color: var(--azul);
}

/* CORES PADRÃO PARA BACKGROUND */
.bg-branco {
    background-color: var(--gelo);
}

.bg-preto {
    background-color: var(--preto);
}

.bg-vermelho {
    background-color: var(--vermelho);
}

.bg-amarelo {
    background-color: var(--amarelo);
}

.bg-azul {
    background-color: var(--azul);
}

/* PAGINA INDEX */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 10vh;
}

.item-menu{
    flex-direction: row;
    line-height: 10vh;
    padding-right: 35px;
    font-weight: 300;
    font-size: 1.2em;
    cursor: pointer;    
}

.item-menu span:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--gelo);  
}

.item-menu span:active{
    padding-bottom: 5px;
    color: var(--amarelo);
    border-bottom: 2px solid var(--amarelo);
}

.pagina-ativa{
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--amarelo);
}

.container-principal{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.capa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-capa {
    width: 40%;
    text-align: end;
    margin-right: 2em;
}

.img-capa img {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.profile-title{
    text-align: start;
    width: 60%;
}

.profile-title h1{
    font-size: 7em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 90px;
}

.profile-title h2{
    font-size: 2em;
    font-weight: 300;
}