/* VARIÁVEIS */
:root {
    --vermelho: #e63946ff;
    --amarelo: #ffbc42ff;
    --gelo: #f7f7ffff;
    --azul: #004e89ff;
    --preto: #040403ff;
}

/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

/* CORES PADRÃO PARA TEXTO */
.texto-branco {
    color: var(--gelo);
}

.texto-preto {
    color: var(--preto);
}

.texto-vermelho {
    color: var(--vermelho);
}

.texto-amarelo {
    color: var(--amarelo);
}

.texto-azul {
    color: var(--azul);
}

/* CORES PADRÃO PARA BACKGROUND */
.bg-branco {
    background-color: var(--gelo);
}

.bg-preto {
    background-color: var(--preto);
}

.bg-vermelho {
    background-color: var(--vermelho);
}

.bg-amarelo {
    background-color: var(--amarelo);
}

.bg-azul {
    background-color: var(--azul);
}

/* PAGINA INDEX */
.nav-bar {
    height: 10vh;
}

.nav-bar ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
    text-align: right;
}

.nav-bar li {
    display: inline-block;
    align-items: center;
    line-height: 10vh;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 100;
    font-size: 1.2em;    
}

.capa span {
    display: block;
}

.capa div {
    display: inline-block;
    height: 650px;
}

.img-capa {
    width: 50vh;
    text-align: center;
    
}

.img-capa img {
    border-radius: 50%;
    width: 50vh;
    object-fit: cover;
}