/* IMPORTAÇÕES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* VARIÁVEIS */
:root {
    --vermelho: #e63946ff;
    --amarelo: #ffbc42ff;
    --gelo: #f7f7ffff;
    --azul: #004e89ff;
    --preto: #040403ff;
}

/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

/* CORES PADRÃO PARA TEXTO */
.texto-branco {
    color: var(--gelo);
}

.texto-preto {
    color: var(--preto);
}

.texto-vermelho {
    color: var(--vermelho);
}

.texto-amarelo {
    color: var(--amarelo);
}

.texto-azul {
    color: var(--azul);
}

/* CORES PADRÃO PARA BACKGROUND */
.bg-branco {
    background-color: var(--gelo);
}

.bg-preto {
    background-color: var(--preto);
}

.bg-vermelho {
    background-color: var(--vermelho);
}

.bg-amarelo {
    background-color: var(--amarelo);
}

.bg-azul {
    background-color: var(--azul);
}

/* CONTAINERS */
.container-main-index{
    display: flex;
    justify-content: center;
    height: 90vh;
    margin: auto;
    width: 100vw;
}

.container-main-curriculo{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.container-main-contato{
    display: block;
    margin: auto;
    width: 100%;
}

.container-tooper-curriculo{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: space-between;
    background-image: url("../images/topper-curriculo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

.container-conteudo-curriculo{
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    background-image: url("../images/footer-curriculo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.container-conteudo-contato{
    display: block;
    min-width: 500px;
    width: 30%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    padding: 5px 30px;
    border: 1px solid var(--preto);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* BARRA DE NAVEGAÇÃO */
.nav-bar {
    display: block;
    text-align: right;
    height: 10vh;
    animation-name: navegacao;
    animation-duration: 3s;
}

.itens-menu{
    display: block;
}

.item-menu{
    display: inline-block;
}

.item-menu a{
    color: inherit;
    text-decoration: none;
    line-height: 10vh;
    margin: 0px 35px;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;    
}

.item-menu a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--vermelho);
}

.item-menu a:active{
    padding-bottom: 5px;
    color: var(--amarelo);
    border-bottom: 2px solid var(--amarelo);
}

.item-menu-icon{
    display: none;
    line-height: 10vh;
    padding-right: 35px;
    font-weight: 300;
    font-size: 2em;
    cursor: pointer;    
}

.pagina-ativa{
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--amarelo);
}

/* COMPONENTES PAGINA INDEX */
.capa {
    display: flex;
    gap: 2em;
    align-items: center;
}

.img-capa {
    width: auto;
    animation-name: profile-capa;
    animation-duration: 2s;
}

.img-capa img {
    border-radius: 50%;
    height: 20em;
    width: 20em;
    object-fit: cover;
}

.profile-title{
    text-align: start;
    width: auto;
    animation-name: titulo-capa;
    animation-duration: 2s;
}

.profile-title h1{
    font-size: 7em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 110%;
}

.profile-title span{
    display: block;
}

.profile-title h2{
    font-size: 2em;
    font-weight: 300;
}

/* COMPONENTES PAGINA CURRICULO */
.cv-title{
    display: inline-block;
    margin-top: 50px;
    text-align: start;
    max-width: 70%;
}

.cv-title h1{
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 90px;
}

.cv-title span{
    display: block;
}

.img-cv{
    margin-top: 40px;
    padding-right: 110px;
    display: inline-block;
    text-align: right;
    width: 25%;
}

.img-cv img{
    height: 180px;
}

.barra-lateral{
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-right: 30px;
    border-top: 10px solid var(--azul);
}

.info{
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.info p{
    margin-left: 10px;
}

.info i{
    font-size: 20px;
    margin-right: 10px;
}

.titulo-sessao-curriculo{
    display: block;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 800;
    line-height: 200%;
}

.conteudo-curriculo{
    display: inline-block;
    padding-left: 40px;
    padding-right: 15px;
    margin-bottom: 100px;
    width: 70%;
    border-top: 10px solid var(--preto);
}

.conteudo-curriculo li{
    font-size: 20px;
    text-align: justify;
    line-height: 200%;
}

.subtitulo-sessao-curriculo{
    display: block;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    line-height: 300%;
    margin-top: 30px;
}

/* COMPONENTES PÁGINA CONTATO */
.contato-title{
    display: block;
    margin: 0px auto;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

.container-conteudo-contato form{
    padding: 20px;
  }

  .container-conteudo-contato label {
    font-size: 20px;
    font-weight: 500;
    color: var(--preto);
    display: block;
    margin-bottom: 8px;
  }

  .container-conteudo-contato input,
  textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid var(--azul);
    border-radius: 2px;
    font-size: 18px;
  }

  .container-conteudo-contato button {
    width: auto;
    background-color: var(--azul);
    color: var(--gelo);
    padding: 12px 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: auto;
    font-size:20px;
  }

  .botao-enviar{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-align: right;
  }

  button:hover {
    background-color: var(--vermelho);
  }

/* ANIMAÇÕES */
@keyframes profile-capa {
    0% {
        transform: translate(0px, 20px)
    }
    100% {
        transform: translate(0px, 0px)
    }
}

@keyframes titulo-capa {
    0% {
        transform: translate(0px, -20px)
    }
    100% {
        transform: translate(0px, 0px)
    }
}

@keyframes navegacao {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes navegacao-responsivo {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

/* CONTEUDO RESPONSIVO */
@media only screen and (max-width: 1000px){
    .nav-bar{
        height: auto;
        text-align: center;
    }

    .itens-menu{
        width: 100%;
        text-align: center;
        background-image: linear-gradient(to bottom, rgba(4, 4, 3, 1), rgba(4, 4, 3, 0.9), rgba(4, 4, 3, 0.8), rgba(4, 4, 3, 0.9), rgba(4, 4, 3, 01)), url('../images/noite-estrelada-770x362.jpg');
        background-size: cover;
    }

    .item-menu{
        display: none;
        width: 100%;
    }

    .item-menu-icon{
        display: block;
        text-align: right;
    }

    .container-main-index{
        display: block;
        text-align: center;
    }

    .capa {
        display: block;
        margin-top: 50px;
    }

    .img-capa img {
        height: 18rem;
        width: 18rem;
    }

    .profile-title{
        text-align: center;
        margin-top: 30px;
    }

    .profile-title h1{
        font-size: 5rem;

    }

    .profile-title h2{
        font-size: 1.5rem;

    }
}

/* Seletor para alterar a visibilidade dos itens do menu */
.item-menu-block{
    display: inline-block;
}

.animacao-menu-responsivo{
    animation-name: navegacao-responsivo;
    animation-duration: 0.8s;
}